doctype html
//
  Read Only by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Perustulo - muodosta kantasi
    | &#x9;&#x9;
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    | &#x9;&#x9;
    meta(name='description', content='')
    | &#x9;&#x9;
    meta(name='keywords', content='')
    //if lte IE 8
      script(src='stylesheets/ie/html5shiv.js')
    | &#x9;&#x9;
    script(src='javascripts/jquery.min.js')
    | &#x9;&#x9;
    script(src='javascripts/jquery.scrollzer.min.js')
    | &#x9;&#x9;
    script(src='javascripts/jquery.scrolly.min.js')
    | &#x9;&#x9;
    script(src='javascripts/skel.min.js')
    | &#x9;&#x9;
    script(src='javascripts/skel-layers.min.js')
    | &#x9;&#x9;
    script(src='javascripts/init.js')
    | &#x9;&#x9;
    noscript
      link(rel='stylesheet', href='stylesheets/skel.css')
      | &#x9;&#x9;&#x9;
      link(rel='stylesheet', href='stylesheets/style.css')
      | &#x9;&#x9;&#x9;
      link(rel='stylesheet', href='stylesheets/style-xlarge.css')
    //if lte IE 8
      link(rel='stylesheet', href='stylesheets/ie/v8.css')
  | &#x9;
  body
    #wrapper
      // Header
      section#header.skel-layers-fixed
        header
          span.image.avatar
            img(src='images/avatar.jpg', alt='')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          h1#logo
            a(href='#') Mikä on perustulo?
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | Yhteisöllinen lähestyminen perustulon kansantajuiseen ymmärtämiseen. Vedos 0.1.
        nav#nav
          ul
            li
              a.active(href='#one') Yksi
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#two') Kaksi
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#three') Kolme
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#four') Neljä
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        footer
          ul.icons
            li
              a.icon.fa-twitter(href='#')
                span.label Twitter
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a.icon.fa-facebook(href='#')
                span.label Facebook
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a.icon.fa-instagram(href='#')
                span.label Instagram
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a.icon.fa-github(href='#')
                span.label Github
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a.icon.fa-envelope(href='#')
                span.label Email
      block content
      // Footer
      section#footer
        .container
          ul.copyright
            li &copy; Untitled. All rights reserved.
            li
              | Design: 
              a(href='http://html5up.net') HTML5 UP
